<%= form_for @product do |f| %>
<% if @product.errors.any? %>
  <% @product.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
<% end %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name%>
  </p>
  <p>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :price_in_cents %>
    <%= f.text_field :price_in_cents %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>
